{% extends 'partials/_product-cards.html' %}
{% load core %}
{% block action_btns %}
	{% block add_to_cart %}
		<button class="btn btn-link product-action" id="add-to-cart-{{item.id}}">
		  <i class="fas fa-shopping-cart {%if item.name|incart:user%}is--active{%else%}is--inactive{%endif%}" onclick="addToCart(this)" url="{% url 'remove-cart-item' id=item.id %}">
		  </i>
		  <span class="badge product-action--info">
		    add to cart
		  </span> 
		</button>
	{% endblock %}
	{% block add_to_wishlist %}
	{% endblock %}
	{% block view_item %}
	  <button class="btn btn-link product-action" onclick="$(this).siblings('form').toggleClass('xhide')">
	    <i class="fas fa-edit is--active"></i>
	  </button>
	{% endblock%}{%block item_quantity%}
	<form method="POST" class="ml-1 xhide">
		<div class="input-group input-group-sm">
		  <span class="input-group-text bd-sc-1 rounded bg-bg w-100" id="inputGroup-sizing-sm">quantity</span>
		  <input type="number" id="quantity" name="quantity" min="1" max="20" class="bd-sc-1 rounded w-100"
		value="{{item.quantity}}" style="padding-left: .5rem">
		</div>
		{% csrf_token %}
		<input type="hidden" name="item" value="{{item.name}}">
		<button type="submit" class="btn btn-sm bd-sc-1 bg-bg">save</button>
	</form>
	{% endblock %}
{% endblock %}
{% block hover_mask %}{% endblock %}
{% block card_mask %}{% endblock %}
{% block item_categories %}
	<small class="text-info font-size-15 d-block">
		{{currency}}{{item.price|floatformat:2}}
	</small>
{% endblock %}
{% block item_brand %}{%endblock%}