:root{
    --bg: #161618;
    --pm: #113c4d;
    --sh: #29292b;
    --sc: #8795a8;
    --r-bg: #ffffff;
    --r-pm: #3094b9;
    --r-sh: #f1f1f1;
    --r-sc: #8492a5;
    --dk-bg: #161618;
    --dk-pm: #113c4d;
    --dk-sh: #29292b;
    --dk-sc: #8795a8;
    --lt-bg: #ffffff;
    --lt-pm: #c0ebfb;
    --lt-sh: #f1f1f1;
    --lt-sc: #8492a5;
}

