{% extends 'layouts.html' %}{% block head %}{% load static %}{% load api %}
<title>Shop::Soar Tech</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
{% endblock head %} {% block content %}

<div class="container mt-4" id="shop-filters">
	<form>
		<input type="hidden" name="category">
		<input type="hidden" name="Brand">
	 	<div class="slidecontainer" id="price-range">
		  <input type="range" min="{{min_price|floatformat:0}}" max="{{max_price|floatformat:0}}" value="{{max_price|floatformat:0}}" class="slider" id="max-price-range" name="max_price">
		  <input type="range" min="1" max="{{min_price|floatformat:0}}" value="1" class="slider" id="min-price-range" name="min_price">
		  <p class="font-weight-bold">
		  	Max Price: {{currency}}<span id="max-price"></span>
		  	&nbsp;&nbsp;
		  	Min Price: {{currency}}<span id="min-price"></span>
		  </p>
		</div>
		<div class="check-box">
		  <label class="form-check-label font-size-16">
		    Featured Products Only
		    <input
			    class="form-check-input"
			    type="checkbox"
			    value=""
			    id="featured-filter"
			    name="featured_only"
		  	/>
		  	<span class="checkmark fas"></span>
		  </label>
		</div>
		<div class="check-box">
			<label class="form-check-label font-size-16" for="top-filter">
		    Top Products Only
		    <input
			    class="form-check-input"
			    type="checkbox"
			    value=""
			    id="top-filter"
			    name="top_only"
		  />
		  <span class="checkmark fas"></span>
		  </label>
		</div>
		<span class="dropdown-item gb" onclick="{
			$(this).children('i.fas').toggleClass('fa-arrow-circle-down fa-times-circle')
			$('#category-filters').slideToggle()}">
		    Filter By Category&nbsp;
		  <i class='fas fa-arrow-circle-down float-right' style="position: relative; top:5px"></i>
		</span>
	  <div class="dropdown-menu bg-bg my-1 input--menu" id="category-filters"
	  style="position: relative;" iref="input[name=category]">
	    {% for cat in categories %}
	    <span class="dropdown-item gb input--menu-object"
	    ivalue={{cat}}>
	      {{cat}}
	    </span>
	    {% endfor %}
	  </div>
	  <span class="dropdown-item gb" onclick="{
	  	$(this).children('i.fas').toggleClass('fa-arrow-circle-down fa-times-circle')
	  	$('#Brand--filters').slideToggle();}">
	  	Filter By Brands&nbsp;
	  	<i class='fas fa-arrow-circle-down float-right' style="position: relative; top:5px"></i>
	  </span>
    <div class="dropdown-menu bg-bg my-1 input--menu" id="Brand--filters" iref="input[name=Brand]"
    style="position: relative;">
      {% for brand in brands %}
      <span class="dropdown-item gb input--menu-object" ivalue="{{brand}}">
        {{brand}}
      </span>
      {% endfor %}
    </div>
	  <div class="d-flex justify-content-between mt-2">
		  <button type="submit" class="btn col-auto rounded bd-ba-1 mr-2">
		  	Apply Filters
		  </button>
		  <a href="/shop" class="btn col-auto rounded bd-ba-1">
		  	Reset All Filters
		  </a>
		</div>
	</form>
</div>
{% if is_mobile %}
<div class="container-fluid mt-4">
	{% for row in products|grid:"10&&200??spillover=True&&fillempty=EMPTY" %}
	    {% if row %}
	      <div class="scrolling-wrapper row flex-row flex-nowrap">
	        {% for item in row %}
	          {% if item != 'EMPTY' %}
	             {% include 'partials/_shop-cards.html' %}
	          {% endif %}
	        {% endfor %}
	      </div>
	    {% endif %}
	{% endfor %}
</div>
{% else %}
<div class="container-fluid mt-4">
	<div class="row justify-content-center">
		{% for item in products %}
        {% include 'partials/_shop-cards.html' %}
        {% endfor %}
	</div>
</div>
{% endif %}
<script>
	var maxPrice = $("#max-price-range");
	var maxOut = $("#max-price");
	maxOut.html(maxPrice.val());
	var minPrice = $("#min-price-range");
	var minOut = $("#min-price");
	minOut.html(minPrice.val());

	minPrice.on('input', function() {
	  minOut.html(minPrice.val())
	})
	maxPrice.on('input', function() {
	  maxOut.html(maxPrice.val())
	})
</script>
{% endblock content %}